<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; Nick Ryberg 2026. All rights reserved.</p>
      <p>Book published by Apress at Springer Nature</p>
    </div>
  </div>
</footer>
