<header class="site-header">
  <div class="container">
    <div class="header-content">
      <a href="/" class="site-logo">
        <img src="/images/site_logo.png" alt="{{ site.title }} Logo" class="logo-image">
        <span class="book-title">{{ site.title }}</span>
      </a>
      
      <nav class="main-nav">
        <ul>
          {% for item in site.navigation %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
